@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poetsen+One&family=Reddit+Sans:ital,wght@0,800;1,800&display=swap');

.content {
    color: rgb(0, 0, 0);
    font-family: "Acme", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    background-color: #dbdbb4;
    margin-top: -10vh;
}

.content h1{
    font-size: 100px;
    color: rgb(0, 0, 0);
    font-family: "Acme", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    display: inline-block;
    white-space: nowrap;
}

.social-media-buttons {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: #dbdbb4;
}

.social-media-buttons a img {
  width: 50px;
  height: 50px;
  margin: 10px;
  transition: transform 0.3s ease;
}

.social-media-buttons a img:hover {
  transform: scale(1.1);
}
